@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #df9758, #FACB9A );

}

main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8b603a7c;
    width: 450px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #86d3c1;
    text-align: center;
    text-shadow: 1px 1px 2px #65a092;
}
 
h2 {
    color: #0F6466;
}
p{
    text-align: justify;
}